html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  background-color: #f9f9f9;
  font-size: 16px;
  line-height: 1.6;
}

#app a:link, #app a:hover {
  text-decoration: none;
}

p {
  font-size: 16px;
  line-height: 1.6;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: auto;
  padding: 4em;
  text-transform: uppercase;
  font-size: 14px;
}

@media only screen and (min-width: 40.063em) {
  .footer.fixed-bottom {
    position: fixed;
    z-index: -99;
  }
  .footer.fixed-bottom h6 {
    margin-top: 0;
  }
}
