html, body { background: #f9f9f9; padding: 0; margin: 0; }
body { border-top: 5px solid #307ace; }
ul { list-style-type: none; padding: 0; margin: 0; }
li { width: 90%; margin: 10px auto; background: #f7f7f7; border: 1px solid #307ace; border-radius: 4px; padding: 10px; }
li img { border-radius: 2px; }
input { padding: 10px; font-size: 16px; width: 90%; display: block; border: 1px solid #307ace; background: #fff; margin: 10px auto; }